<div class="home_title" style="display:flex;">
  <img class="article_home_icon coldfusion" src="./assets/images/coldfusion.png"/>
  <p class="home">ColdFusion</p>
</div>

<div class="application_title">
  <p>らくらくInfo</p>
  <h1>RakuRaku</h1>
  <p>info</p>
</div>

<%= render 'articles', { articles: @articles }  %>