<div class="home_title" style="display:flex;">
  <p class="home">その他</p>
</div>

<div class="application_title">
  <p>らくらくInfo</p>
  <h1>RakuRaku</h1>
  <p>info</p>
</div>

<%= render 'articles', { articles: @articles }  %>
