<div class="home_title" style="display:flex;">
  <img class="article_home_icon sql" src="https://img.icons8.com/metro/26/000000/sql.png"/>
  <p class="home">SQL</p>
</div>

<div class="application_title">
  <p>らくらくInfo</p>
  <h1>RakuRaku</h1>
  <p>info</p>
</div>

<%= render 'articles', { articles: @articles }  %>
