@import "bootstrap-sprockets";
@import "bootstrap";
@import "rouge";

$main_color: #55c500;

body{
  background-color: #f6f6f4;
}

a:hover{
  text-decoration: none;
}

.content{
  width: 100%;
  margin: 0%;
  padding: 0;
}

::-webkit-resizer {
  display: none;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* デバックのスタイス */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* デバックのスタイス終わり */

// flashメッセージスタイル
  .success_dsn{
    text-align: center;
    background: #55c500b8;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 10px 0;
    color: white;
    font-size: 14px;
    border: 1px solid #e7e7e7;
    opacity: 0.8;
  }
// flashメッセージスタイル終わり

// エラーメッセージスタイル
.error_main{
  padding: 10px;
  border: 1px solid #ffc1c1;
  background: #ffdddd;
  font-size: 10px;
  text-align: left;
  width: 60%;
  margin: 17px auto 0 0;
  border-radius: 5px;
  p{
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px 0;
    color: #8c1818;
  }
  li{
    color: #8c1818;
    list-style: none;
  }
}
.error_content{
  margin: 0;
  padding: 0;
  list-style: none;
}

.part_error{
  color: #8c1818;
  margin: 0;
}

.part_error_edit{
  color: #8c1818;
  margin: 0;
}
// エラーメッセージのスタイル終わり

// ヘッダーのスタイル
  .header{
    padding: 6px 45px 0 19px;
    background: #55c500;
    .header_top{
      display: flex;
      .header_left_link{
        width: 20%;
        color: white;
        font-family: 'Mochiy Pop P One', sans-serif;
        font-weight: bold;
        font-size: 28px;
      }
      .header_right{
        width: 80%;
        display: flex;
        text-align: right;
        line-height: 40px;
        .login_link{
          color: white;
          font-size: 15px;
          margin-left: 20px;
          font-family: 'Mochiy Pop P One', sans-serif;
        }
        .article_btn, .logout_link, .profile{
          background: #00000040;
          height: 37px;
          padding: 0 20px;
          margin-top: 10px;
          border-radius: 5px;
          line-height: 34px;
          margin-right: 17px;
          color: white;
          font-size: 15px;
          font-family: 'Mochiy Pop P One', sans-serif;
          &:hover{
            opacity: 0.8;
          }
        }
        .profile{
          margin-left: auto;
        }
        .button_to{
          line-height: 35px;
          border-radius: 5px;
          height: 37px;
          margin-top: 10px;
          background: #00000040;
          padding: 0 10px;
          &:hover{
            opacity: 0.8;
          }
          .logout_link{
            color: white;
            font-size: 15px;
            margin-left: 20px;
            font-family: 'Mochiy Pop P One', sans-serif;
            background: none;
            border: none;
            margin: 0;
            display: flex;
            .fas.fa-sign-out-alt{
              line-height: 36px;
              margin-right: 6px;
              font-size: 20px;
            }
          }
        }
      }
    }

    .header_bottom{
      padding: 15px 0 0 0;
      .trend{
        font-size: 17px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 6%;
        text-align: center;
        padding-bottom: 6px;
        &:hover{
          border-bottom: 3px solid #00000052;
        }
      }
      .selecte{
        border-bottom: 3px solid #00000052;
      }
      .c{
        width: 9%;
      }
    }
  }
// ヘッダーのスタイル終了

// 会員登録画面のスタイル
.entry_title{
  font-weight: 200;
  color: $main_color;
  margin: 15px 0 0 0;
  display: flex;
  margin: 8px 0 0 6px;
  line-height: 15px;
  img{
    height: 46px;
  }
  .entry_title_p{
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 6px;
    line-height: 15px;
  }
}
.entry_top{
  display: flex;
  margin: 20px auto 0 auto;
  .step1{
    background: lightgray;
    color: white;
    padding:  27px 0;
    text-align: center;
    font-size: 18px;
    height: 78px;
    width: 330px;
  }
  .step2, .step3{
    background: lightgray;
    color: white;
    padding:  27px 0;
    text-align: center;
    font-size: 18px;
    height: 78px;
    position: relative;
    left: -22px;
    width: 330px;
  }
  .step3{
    position: relative;
    left: -45px;
  }
  .step1_triangle{
    border-top: 39px solid transparent;
    border-bottom: 39px solid transparent;
    border-left: 25px solid lightgray;
    height: 0px;
    width: 0px;
    position: relative;
    top: 20px;
  }
  .step2_triangle{
    border-top: 39px solid transparent;
    border-bottom: 39px solid transparent;
    border-left: 25px solid lightgray;
    height: 0px;
    width: 0px;
    position: relative;
    left: -22px;
    top: 20px;
  }
  /* 右の三角 */
  .a{
    border-top: 39px solid lightgray;
    border-bottom: 39px solid lightgray;
    border-left: 26px solid transparent;
    position: relative;
    left: -22px;
    width: 0;
    height: 0;
    top: 20px;
  }
  .a2{
    border-top: 39px solid lightgray;
    border-bottom: 39px solid lightgray;
    border-left: 26px solid transparent;
    position: relative;
    left: -45px;
    top: 20px;
    width: 0;
    height: 0;
  }
  /* 右の三角終わり */
}
.login_info_msg{
  padding-bottom: 10px;
  font-size: 19px;
  border-bottom: 1px solid #BAB6B6;
  margin: 14px 0;
  max-width: 1048px;
}
.entry_form{
  border: 1px solid #BAB6B6;
  max-width: 1048px;
  margin: 0 0 30px 0;
  box-shadow: 1px 2px 6px lightgrey;
  height: 362px;
  .login_form_detail{
    background: lightgray;
    margin: 0;
    padding: 6px 22px;
    .form_span{
      color: brown;
      margin-left: 9px;
    }
  }
}
.entry_form2{
  border: 1px solid #BAB6B6;
  max-width: 1048px;
  margin: 0 0 30px 0;
  box-shadow: 1px 2px 6px lightgrey;
  height: 249px;
  .entry_form_info{
    margin: 9px 23px;
    font-weight: bold;
  }
  .login_form_detail{
    background: lightgray;
    margin: 0;
    padding: 6px 22px;
    .form_span{
      color: brown;
      margin-left: 9px;
    }
  }
}
.form_input{
  margin: 10px 24px;
  height: 22px;
  margin-bottom: 15px;
  width: 210px;
}
.entry_button{
  margin-left: 24px;
  border: 1px solid #D5D5D5;
  background: white;
  color: $main_color;
  font-weight: 400;
  width: 260px;
  padding: 5px 115px;
  &:hover{
    text-decoration: none;
  }
}
.entry_button1{
  margin-left: 24px;
  border: 1px solid #D5D5D5;
  background: $main_color;
  color: white;
  font-weight: 400;
  width: 260px;
  height: 27px;
  &:hover{
    opacity: 0.9;
  }
}
// 会員登録画面のスタイル終わり

// ログイン画面のスタイル
  .login_header{
    font-weight: bold;
    background: #55c500;
    color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
    width: 32.5%;
    padding: 10px;
    margin: 80px auto 37px auto;
    border-radius: 3px;
    font-size: 60px;
  }
  .login_title{
    font-size: 30px;
    color: #55c500;
    margin-bottom: 20px;
    text-align: center;
  }

  .login_form{
    text-align: center;
    width: 40%;
    background: white;
    padding: 25px;
    box-shadow: 1px 1px 3px lightgrey;
    margin: 0 auto;
    border-radius: 5px;
    .login_part{
      .login_part_p{
        color: gray;
        text-align: left;
        margin: 5px 0 5px 0;
      }
      .login_filed{
        border: 1px solid #a3a3a3;
        width: 100%;
        margin-bottom: 10px;
        height: 27px;
        border-radius: 2px;
      }
    }
    .login_part_end{
      display: flex;
      margin: 10px 0;
      color: gray;
      .login_remember{
        margin-right: 9px;
      }
    }
  }

  .login_submit{
    font-size: 21px;
    border-radius: 5px;
    background: #55c500;
    border: none;
    padding: 5px 25%;
    color: white;
    &:hover{
      opacity: 0.8;
    }
  }
  .entry_block{
    margin-top: 30px;
    text-align: center;
    .entry_link{
      margin: 0;
    }
    .login_link{
      font-weight: bold;
      color: #55c500;
      font-size: 18px;
      &:hover{
        opacity: 0.6;
      }
    }
  }
  
// ログイン画面のスタイル終わり

// 投稿のスタイル
.title_field{
  border: 1px solid lightgray;
  width: 100%;
  height: 35px;
  margin-top: 18px;
  font-size: 20px;
  &:focus-visible{
    outline: 1.5px solid #bfe9ff6e;
  }
}

#category_category_id{
  font-size: 16px;
  border-radius: 3px;
  margin-right: 15px;
  border: 1px solid lightgray;
  &:focus-visible{
    outline: 1.5px solid #bfe9ff6e;
  }
}

.tag_category{
  display: flex;
}

.tag_field{
  height: 35px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 3px;
  &:focus-visible{
    outline: 1.5px solid #bfe9ff6e;
  }
}

.form-group{
  margin-bottom: 7px;
}

.text_area_markdown{
  border: none;
  height: 188px;
  width: 50%;
  resize: none;
  height: calc(100vh - 300px) !important;
}

#editor{
  display: flex;
  border: 1px solid lightgray;
  position: relative;
}

.markdown_preview{
  background-color: white;
  padding: 12px;
  width: 50%;
  border-left: 1px solid lightgray;
  height: calc(100vh - 300px) !important;
  overflow-y: scroll;
  h1, h2, h3, h4, h5, h6{
    border-bottom: 1.5px solid #acacac;
    margin-bottom: 30px;
    font-weight: bold;
  }
  p{
    white-space: pre-wrap;
  }
  pre{
    margin: 25px 0;
  }
  blockquote{
    margin: 20px 0;
    padding: 0 12px;
    margin-left: 4px solid #ddd;
    color: #6a737d;
  }
  ul{
    padding-left: 14px;
  }
  li{
    margin: 10px 0;
  }
  hr{
    border-top: 1.5px solid #ddd;
  }
}

.article_btn{
  display: inline-block;
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  font-size: 16px;
  padding: 6px 50px;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  background-image: none;
  border: 1px solid transparent;
  line-height: 1.428571429;
  border-radius: 4px;
  &:hover{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
  }
  &:active{
    color: #fff;
    background-color: #449d44;
    background-image: none;
    border-color: #398439;
  }
}

.template{
  display: flex;
  width: 50%;
  border: 1px solid #ddd;
  position: relative;
  top: 1px;
  .template_part{
    width: 9%;
    border-right: 1px solid #ddd;
    .template_btn{
      width: 100%;
      font-size: 16px;
      background-color: white;
      border: none;
      margin: 0;
      padding: 13px 0;
      color: #5b5b5b;
      &:hover{
        opacity: 0.5;
      }
    }
  }
  .template_part2{
    width: 9%;
    border-right: 1px solid #ddd;
    .template_btn{
      width: 100%;
      font-size: 16px;
      background-color: white;
      border: none;
      margin: 0;
      padding: 13px 0;
      color: #5b5b5b;
      &:hover{
        opacity: 0.5;
      }
    }
  }
  .template_icon{
    width: 14%;
    border-right: none;
  }
}

div.template_pop	{
	max-width: 800px;
  position: absolute;
  padding: 9px 10px 0 10px;
  background-color: #515151;
  display: none;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: 1px 1px 13px 1px #515151;
  margin: 0;
}
div.template_pop2	{
	max-width: 800px;
  position: absolute;
  padding: 0 10px;
  background-color: #515151;
  display: none;
  font-size: 13px;
  border-radius: 4px;
  box-shadow: 1px 1px 13px 1px #515151;
  margin: 0;
}

div.template_pop p, div.template_pop2 p{
	color: #ddd;
}

.text_count{
  margin-left: 20px;
}

.btn_validates{
  display: inline;
}

.validates_error, .validates_tags_error{
  margin: 18px 0 0 0;
  font-weight: bold;
  color: #8c1818;
  border: 1px solid #ffc1c1;
  background: #ffdddd;
  width: 100%;
  padding: 7px 0 7px 10px;
  border-radius: 6px;
  display: none;
}

.tag_name_search_result{
  margin: 12px 0 -12px 0;
  font-weight: bold;
  font-size: 16px;
}
// 投稿記事のスタイル終わり

// 投稿の確認画面のスタイル
.article_confirm_title{
  font-size: 50px;
  font-weight: bold;
  color: darkgrey;
  margin-top: 25px;
}
.confirm_title_p{
  font-size: 10px;
  color: white;
  background: #55c500;
  width: 90px;
  padding: 5px 20px;
  text-align: center;
  border-radius: 4px;
}

.article_form_confirm{
  background: white;
  padding: 23px 25px;
}

.title_confirm_h1{
  font-weight: bold;
  margin: 10px 0 22px 0;
}
.confirm_part{
  display: flex;
  .category_confirm{
    margin-right: 25px;
    .category_p{
      margin-bottom: 5px;
    }
    .category_name{
      font-size: 20px;
      color: gray;
      text-align: center;
    }
  }
}

.tag_clump{
  display: flex;
  height: 22px;
  .tag_part{
    display: flex;
    margin-right: 10px;
    color: gray;
    .fa.fa-tags{
      line-height: 21px;
      margin-right: 4px;
    } 
    .tag{
      font-size: 15px;
    }
  }
}

.article_markdown{
  h1, h2, h3, h4, h5, h6{
    border-bottom: 1px solid #acacac;
    margin-bottom: 30px;
    font-weight: bold;
    padding-bottom: 7px;
  }
  pre{
    margin: 25px 0;
  }
  blockquote{
    margin: 20px 0;
    padding: 0 12px;
    margin-left: 4px solid #ddd;
    color: #6a737d;
  }
  ul, ol{
    padding-left: 14px;
  }
  li{
    margin: 10px 0;
  }
  hr{
    border-top: 1.5px solid #ddd;
  }
}

.center_line{
  border-top: 2.5px dotted gray;
  margin-top: 20px;
}
.content_markdown{
  margin-top: 30px;
  font-size: 10px;
  color: white;
  background: #55c500;
  width: 90px;
  padding: 5px 20px;
  text-align: center;
  border-radius: 4px;
}

.entry{
  position: relative;
  top: 70px;
  left: -26px;
}
// 投稿の確認画面のスタイル終わり

// 投稿の詳細画面のスタイル
.main{
  display: flex;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
}
.article_show_main{
  width: 100%;
  background: white;
  padding: 30px;
  margin: 15px 0;
  .article_user_date{
    margin-bottom: 20px;
    .user_name{
      color: black;
      font-weight: 600;
      margin-bottom: 5px;
      display: inline-block;
      height: 18px;
      &:hover{
        border-bottom: 1px solid black;
      }
    }
    .article_date{
      color: #8b8b8b;
      margin-right: 20px;
    }
  }

  .title_tag{
    margin-bottom: 60px;
    .article_title{
      font-weight: bold;
      margin-top: 10px;
      font-size: 30px;
    }
    .tag_clump_show{
      display: flex;
      color: gray;
      .tag_list_link{
        display: flex;
        margin-right: 15px;
        color: gray;
        height: 16px;
        .fa.fa-tags{
          line-height: 21px;
          margin-right:3px;
        }
        .tag{
          height: 16px;
          &:hover{
            border-bottom: 1px solid gray;
          }
        }
      }
    } 
  }
}

.menu{
  -webkit-box-align: center;
  align-items: center;
  z-index: 5;
  height: 100%;
  position: sticky;
  top: 167px;
  display: flex;
  flex-direction: column;
  padding: 0 40px 0 0;
  width: 80px;
  color: #616161;
  .article_menu_button{
    background-color: transparent;
    border: none;
    .fa-solid.fa-ellipsis{
      font-size: 30px;
    }
    .fa-solid.fa-heart{
      font-size: 25px;
      margin-bottom: 21px;
    }
  }
  .edit_delete{
    position: relative;
    top: -34px;
    left: 84px;
    width: 115px;
    background: white;
    padding: 14px 0;
    box-shadow: 3px 3px 9px 0px #a7a7a7a6;
    text-align: center;
    z-index: 5;
    .edit_btn{
      border-bottom: 1px solid #ddd;
      margin-bottom: 9px;
      a{
        color: gray;
        display: inline-block;
        margin: 0 0 10px 0;
      }
    }
  }

  .article_delete_btn{
    background: transparent;
    border: none;
    display: flex;
    height: 18px;
    .fa-solid.fa-trash-can{
      line-height: 20px;
      margin: 0 5px 0 14px;
    }
    .delete{
      color: gray;
    }
  }
}

.edit_confirm_show{
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
}
// 投稿の詳細画面のスタイル終わり

// ホーム画面のスタイル
.home_title{
  display: flex;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  .fa.fa-home{
    line-height: 42px;
    margin-right: 7px;
  }
  .rails{
    width: 61px;
    height: 47px;
  }
  .ruby{
    line-height: 42px;
    margin-right: 2px;
    margin-top: 12px;
    width: 16px;
    height: 16px;
  }
  .coldfusion{
    width: 25px;
    height: 25px;
    margin-top: 7px;
  }
  .sql{
    width: 20px;
    height: 20px;
    margin-top: 9px;
    margin-right: 3px;
  }
}

.home{
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}

.application_title{
  text-align: center;
  font-family: 'Mochiy Pop P One', sans-serif;
  h1{
    margin-top: 10px;
  }
  p{
    margin-bottom: 15px;
  }
}

.search_form{
  display: flex;
  height: 40px;
  &:focus-visible{
    outline: 1.5px solid #bfe9ff6e;
  }
  .search_form{
    width: 90%;
    margin-right: 10px;
    border: none;
    background-color: rgba(255,255,255,1);
    border-radius: 4px;
    box-shadow: 2px 2px 6px -3px #000000a6 inset;
    font-size: 25px;
  }
  .search_submit{
    background: #55c500;
    width: 10%;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    &:hover{
      opacity: 0.6;
    }
  }
}

.search_word{
  .search_title{
    margin: 15px 0 10px 0;
    color: gray;
  }
}
.search_tags{
  display: flex;
  flex-wrap: wrap;
  .tag_list_link{
    display: flex;
    color: white;
    background: gray;
    padding: 5px 10px;
    border-radius: 3px;
    height: 30px;
    margin: 0 5px 5px 0;
    .fa.fa-tags{
      line-height: 21px;
      margin-right: 3px;
      height: 20px;
      .tag{
        height: 20px;
        margin: 0;
      }
    }
    &:hover{
      opacity: 0.6;
    }
  }
}

.article_main{
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  height: auto;
  .article_part_link{
    color: black;
    font-weight: bold;
    height: 60px;
    font-size: 13px;
    &:hover{
      opacity: 0.7;
    }
  }
  .article_part{
    color: black;
    width: 32.1%;
    background: white;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 3px 3px #ddd;
    border-radius: 5px;
    padding: 15px;
    height: auto;
    margin: 0 13px 13px 0;
    .article_part_content{
      display: flex;
      flex-direction: column;
      .article_part_top{
        margin: 0;
        font-size: 13px;
        font-weight: bold;
        height: 105px;
        line-height: 19px;
      }
      .article_category{
        height: 27px;
        background: #55c500;
        color: white;
        padding: 5px;
        border-radius: 5px;
        width: 25%;
        margin: 10px 0 0 0;
        text-align: center;
        font-size: 12px;
      }
      .tag_list{
        display: flex;
        flex-wrap: wrap;
        height: 16px;
        .tag_list_link{
          display: flex;
          height: 20px;
          background: gray;
          padding: 0 5px;
          color: white;
          font-size: 10px;
          border-radius: 3px;
          margin: 0 2px 3px 0;

          .fa.fa-tags{
            margin-right: 2px;
            line-height: 19px;
          }
          .tag{
            margin: 0;
            line-height: 19px;
          }
        }
      }
    }
    .article_top{
      color: gray;
      .article_top_user_name{
        color: #434343;
        &:hover{
          border-bottom: 1px solid #434343;
        }
      }
    }
  }

  .not_article{
    text-align: center;
    width: 100%;
    .fa.fa-frown-o{
      color: #9e9e9e;
      font-size: 40px;
      margin-bottom: 20px;
    } 
    .not_article_msg{
      font-size: 18px;
    }
  }
}

.show_link_back{
  display: flex;
  max-width: 1119px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 24px;
  padding-left: 24px;
}
// ホーム画面のスタイル終了

// お気に入りボタンのスタイル
.article_category_likeBtn{
  display: flex;
}
.likes_part {
  display: flex;
  align-items: center;
  width: 75%;
  .button_to{
    margin-left: auto;
    height: 68px;
  }

  .like_count {
    margin: 0;
    line-height: 16px;
    font-weight: lighter;
    font-size: 17px;
  }
}

.article_all{
  .button_to{
    height: 20px;
    .like_btn{
      .fas.fa-heart{
        font-size: 20px;
      }
    }
  }
}

.like_btn {
  display: inline-flex;
  align-items: center;
  padding: 9px 0 0 1px;
  background: none;
  border: none;

  .fa-heart{
    margin-right: 5px;
    font-size: 25px;
    color: #ffa2b2;
  }
  .article_show_heart{
    color: #686868;
    font-size: 25px;
    margin-bottom: 34px;
  }
}

.h-hide {
  display: none;
}

.h-hide{
  display: none;
}
// お気に入りボタンのスタイル終了

// プロフィールのスタイル
.profile_content{
  display: flex;
  margin-top: 30px;
  .profile_left{
    width: 30%;
    margin-right: 20px;

    .profile_left_top{
      background: white;
      margin-bottom: 17px;
      padding: 25px;
      border-radius: 3px;
      .myname{
        text-align: center;
        color: gray;
        font-size: 22px;
      }
      .profile_follow_list{
        display: flex;
        .my_article, .my_follow, .my_follower{
          color: gray;
          width: 33%;
          text-align: center;
          .count, .count_info{
            margin: 0;
            .followings_link_btn, .followers_link_btn{
              color: gray;
              &:hover{
                border-bottom: 1px solid gray;
              }
            }
          }
        }
      }

      .profile_edit{
        margin-top: 20px;
        display: inline-block;
        background: #707070;
        color: white;
        width: 100%;
        text-align: center;
        padding: 7px 0px;
        font-weight: bold;
        border: none;
        border-radius: 3px;
      }
    }

    .profile_left_bottom{
      background: white;
      padding: 25px;
      border-radius: 3px;
      .use_tag_list_title{
        display: flex;
        margin-bottom: 10px;
        .fa.fa-tags{
          font-size: 16px;
          color: #4bad00;
          line-height: 20px;
          margin-right: 10px;
        }
        p{
          margin: 0;
          font-weight: bold;
        }
      }

      .use_tag_lists{
        display: flex;
        flex-wrap: wrap;
        a{
          margin: 0 8px 8px 0;
          background: #ddd;
          padding: 4px 10px;
          color: black;
          border-radius: 2px;
        }
      }
    }
  }

  .profile_right{
    width: 70%;
    background-color: white;
    border-radius: 3px;
    height: fit-content;
    .profile_p_title{
      margin: 10px 0 0 23px;
      font-weight: bold;
      color: yellowgreen;
    }
    .follower_list{
      margin: 0 0 14px 0;
      color: black;
      font-size: 20px;
    }

    .profile_right_title{
      display: flex;
      padding: 24px 24px 0 24px;
      .profile_right_ten{
        content: "";
        width: 20px;
        height: 20px;
        background-color: #55c500;
        margin-right: 10px;
        margin-top: 4px;
      }
    }

    .profile_right_follower_list{
      .follower_name{
        font-weight: bold;
        font-size: 18px;
        padding: 8px 0 8px 24px;
        margin: 0;
        width:30%;
        a{
          color: black;
          &:hover{
            border-bottom: 1px solid black;
          }
        }
      }
      .not_follower{
        text-align: center;
        color: gray;
        margin-bottom: 20px;
      }

      .follower_list_main{
        display: flex;
        border-bottom: 1px solid lightgray;
        .button_to{
          width: 70%;
          text-align: right;
          padding-right: 24px;
          .profile_edit{
            border: none;
            background: #707070;
            color: white;
            font-weight: bold;
            padding: 5px 0;
            width: 101px;
            margin: 6px 0 0 0;
            border-radius: 3px;
          }
          .arlreday_follow{
            background: white;
            color: #707070;
            border: 1px solid #bababa;
            border-radius: 3px;
          }
        }
      }
    }
  }
}

.nav_menu{
  display: flex;
  list-style: none;
  padding: 16px 0 0 25px;
  margin: 0 0 9px 0;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  .tab{
    text-align: center;
    color: white;
    background: lightgray;
    padding: 4px 0 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 79px;
    opacity: 0.5;
    height: 26px;
    margin: 5px 2px 0 2px;
    font-size: 15px;
  }
  .is_active{
    color: white;
    background: #55c500;
    padding: 5px 0 0 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 79px;
    opacity: 1.0;
    height: 30px;
    margin: 1px 0 0 0 ;
    text-align: center;
  }
}
.nav{
  .nav_article_part{
    padding: 8px 0px 8px 25px;
    border-bottom: 1.5px solid lightgray;
    .article_top{
      color: gray;
      margin-bottom: 5px;
      .article_top_user_name{
        color: #434343;
        &:hover{
          border-bottom: 1px solid #464444;
        }
      }
    }
    .article_part_link{
      color: black;
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 19px;
      display: inline-block;
    }
    .tag_list{
      display: flex;
      .fa.fa-tags{
        line-height: 20px;
        color: #565656;
        margin-right: 6px;
      }
      .tag_list_link{
        color: #464444;
        margin-right: 7px;
        height: 18px;
        &:hover{
          border-bottom: 1px solid #464444;
        }
      }
    }
  }
}

.not_like_article{
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0 16px 0;
  text-align: center;
}
// プロフィールのスタイル終了
