@import "bootstrap-sprockets";
@import "bootstrap";

$main_color: #55c500;

body{
  background-color: #f6f6f4;
}

a:hover{
  text-decoration: none;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* デバックのスタイス */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* デバックのスタイス終わり */

// flashメッセージスタイル
  .success_dsn{
    text-align: center;
    background: #55c500b8;
    padding: 3px 10px;
    border-radius: 5px;
    margin: 10px 0;
    color: white;
    font-size: 14px;
    border: 1px solid #e7e7e7;
    opacity: 0.8;
  }
// flashメッセージスタイル終わり

// エラーメッセージスタイル
.error_main{
  padding: 10px;
  border: 1px solid #ffc1c1;
  background: #ffdddd;
  font-size: 10px;
  text-align: left;
  width: 60%;
  margin: 0px auto 13px 0;
  border-radius: 5px;
  p{
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px 0;
    color: #8c1818;
  }
  li{
    color: #8c1818;
    list-style: none;
  }
}
// エラーメッセージのスタイル終わり

// ヘッダーのスタイル
  .header{
    padding: 6px 45px 0 19px;
    background: #55c500;
    .header_top{
      display: flex;
      .header_left_link{
        width: 20%;
        color: white;
        font-family: 'Mochiy Pop P One', sans-serif;
        font-weight: bold;
        font-size: 28px;
      }
      .header_right{
        width: 80%;
        display: flex;
        text-align: right;
        line-height: 40px;
        .login_link{
          color: white;
          font-size: 15px;
          margin-left: 20px;
          font-family: 'Mochiy Pop P One', sans-serif;
        }
        .article_btn, .logout_link{
          margin-left: auto;
          background: #00000040;
          height: 37px;
          padding: 0 20px;
          margin-top: 10px;
          border-radius: 5px;
          line-height: 34px;
          margin-right: 17px;
          color: white;
          font-size: 15px;
          font-family: 'Mochiy Pop P One', sans-serif;
          &:hover{
            opacity: 0.8;
          }
        }
        .button_to{
          line-height: 35px;
          border-radius: 5px;
          height: 37px;
          margin-top: 10px;
          background: #00000040;
          padding: 0 10px;
          &:hover{
            opacity: 0.8;
          }
          .logout_link{
            color: white;
            font-size: 15px;
            margin-left: 20px;
            font-family: 'Mochiy Pop P One', sans-serif;
            background: none;
            border: none;
            margin: 0;
            display: flex;
            .fas.fa-sign-out-alt{
              line-height: 36px;
              margin-right: 6px;
              font-size: 20px;
            }
          }
        }
      }
    }

    .header_bottom{
      padding: 15px 0 0 0;
      .trend{
        font-size: 17px;
        color: white;
        text-decoration: none;
        font-weight: bold;
        display: inline-block;
        width: 6%;
        text-align: center;
        padding-bottom: 6px;
        &:hover{
          border-bottom: 3px solid #0000007d;
        }
      }
      .c{
        width: 9%;
        border-bottom: 3px solid #0000007d;
      }
    }
  }
// ヘッダーのスタイル終了

// 会員登録画面のスタイル
.entry_title{
  font-weight: 200;
  color: $main_color;
  margin: 15px 0 0 0;
  display: flex;
  margin: 8px 0 0 6px;
  line-height: 15px;
  img{
    height: 46px;
  }
  .entry_title_p{
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 6px;
    line-height: 15px;
  }
}
.entry_top{
  display: flex;
  margin: 20px auto 0 auto;
  .step1{
    background: lightgray;
    color: white;
    padding:  27px 0;
    text-align: center;
    font-size: 18px;
    height: 78px;
    width: 330px;
  }
  .step2, .step3{
    background: lightgray;
    color: white;
    padding:  27px 0;
    text-align: center;
    font-size: 18px;
    height: 78px;
    position: relative;
    left: -22px;
    width: 330px;
  }
  .step3{
    position: relative;
    left: -45px;
  }
  .step1_triangle{
    border-top: 39px solid transparent;
    border-bottom: 39px solid transparent;
    border-left: 25px solid lightgray;
    height: 0px;
    width: 0px;
    position: relative;
    top: 20px;
  }
  .step2_triangle{
    border-top: 39px solid transparent;
    border-bottom: 39px solid transparent;
    border-left: 25px solid lightgray;
    height: 0px;
    width: 0px;
    position: relative;
    left: -22px;
    top: 20px;
  }
  /* 右の三角 */
  .a{
    border-top: 39px solid lightgray;
    border-bottom: 39px solid lightgray;
    border-left: 26px solid transparent;
    position: relative;
    left: -22px;
    width: 0;
    height: 0;
    top: 20px;
  }
  .a2{
    border-top: 39px solid lightgray;
    border-bottom: 39px solid lightgray;
    border-left: 26px solid transparent;
    position: relative;
    left: -45px;
    top: 20px;
    width: 0;
    height: 0;
  }
  /* 右の三角終わり */
}
.login_info_msg{
  padding-bottom: 10px;
  font-size: 19px;
  border-bottom: 1px solid #BAB6B6;
  margin: 14px 0;
  max-width: 1048px;
}
.entry_form{
  border: 1px solid #BAB6B6;
  max-width: 1048px;
  margin: 0 0 30px 0;
  box-shadow: 1px 2px 6px lightgrey;
  height: 362px;
  .login_form_detail{
    background: lightgray;
    margin: 0;
    padding: 6px 22px;
    .form_span{
      color: brown;
      margin-left: 9px;
    }
  }
}
.entry_form2{
  border: 1px solid #BAB6B6;
  max-width: 1048px;
  margin: 0 0 30px 0;
  box-shadow: 1px 2px 6px lightgrey;
  height: 249px;
  .entry_form_info{
    margin: 9px 23px;
    font-weight: bold;
  }
  .login_form_detail{
    background: lightgray;
    margin: 0;
    padding: 6px 22px;
    .form_span{
      color: brown;
      margin-left: 9px;
    }
  }
}
.form_input{
  margin: 10px 24px;
  height: 22px;
  margin-bottom: 15px;
  width: 210px;
}
.entry_button{
  margin-left: 24px;
  border: 1px solid #D5D5D5;
  background: white;
  color: $main_color;
  font-weight: 400;
  width: 260px;
  padding: 5px 115px;
  &:hover{
    text-decoration: none;
  }
}
.entry_button1{
  margin-left: 24px;
  border: 1px solid #D5D5D5;
  background: $main_color;
  color: white;
  font-weight: 400;
  width: 260px;
  height: 27px;
  &:hover{
    opacity: 0.9;
  }
}
// 会員登録画面のスタイル終わり

// ログイン画面のスタイル
  .login_header{
    font-weight: bold;
    background: #55c500;
    color: white;
    font-family: 'Mochiy Pop P One', sans-serif;
    width: 32.5%;
    padding: 10px;
    margin: 80px auto 37px auto;
    border-radius: 3px;
    font-size: 60px;
  }
  .login_title{
    font-size: 30px;
    color: #55c500;
    margin-bottom: 20px;
    text-align: center;
  }

  .login_form{
    text-align: center;
    width: 40%;
    background: white;
    padding: 25px;
    box-shadow: 1px 1px 3px lightgrey;
    margin: 0 auto;
    border-radius: 5px;
    .login_part{
      .login_part_p{
        color: gray;
        text-align: left;
        margin: 5px 0 5px 0;
      }
      .login_filed{
        border: 1px solid #a3a3a3;
        width: 100%;
        margin-bottom: 10px;
        height: 27px;
        border-radius: 2px;
      }
    }
    .login_part_end{
      display: flex;
      margin: 10px 0;
      color: gray;
      .login_remember{
        margin-right: 9px;
      }
    }
  }

  .login_submit{
    font-size: 21px;
    border-radius: 5px;
    background: #55c500;
    border: none;
    padding: 5px 25%;
    color: white;
    &:hover{
      opacity: 0.8;
    }
  }
  .entry_block{
    margin-top: 30px;
    text-align: center;
    .entry_link{
      margin: 0;
    }
    .login_link{
      font-weight: bold;
      color: #55c500;
      font-size: 18px;
      &:hover{
        opacity: 0.6;
      }
    }
  }
  
// ログイン画面のスタイル終わり